<h1>Submit a new algorithm to the system</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- Title input -->
  <div class="form-group">
    <label for="title">Title
      <span class="tooltip-container">
        <i class="fa fa-question-circle tooltip-icon" aria-hidden="true">
          <span class="tooltip-text">Enter a title for your algorithm</span>
        </i>
      </span>
    </label>
    <input type="text" class="form-control" id="title" formControlName="title" name="title">
  </div>

  <!-- Model Type input -->
  <label for="modelType">Model Type
    <span class="tooltip-container">
      <i class="fa fa-question-circle tooltip-icon" aria-hidden="true">
        <span class="tooltip-text">Select the type of model you are submitting</span>
      </i>
    </span>
  </label>
  <div class="form-group">
    <select class="form-control" id="modelType" formControlName="modelType" name="modelType">
      <option value="OCR">OCR</option>
      <option value="Line Extraction">Line Extraction</option>
    </select>
  </div>

  <!-- Description input -->
  <div class="form-group">
    <label for="description">Description
      <span class="tooltip-container">
        <i class="fa fa-question-circle tooltip-icon" aria-hidden="true">
          <span class="tooltip-text">Enter a description of your algorithm</span>
        </i>
      </span>
    </label>
    <textarea class="form-control" id="description" formControlName="description" name="description"></textarea>
  </div>

  <!-- Repository input -->
  <div class="form-group">
    <label for="repository">Repository
      <span class="tooltip-container">
        <i class="fa fa-question-circle tooltip-icon" aria-hidden="true">
          <span class="tooltip-text">Enter the link to the repository of your algorithm</span>
        </i>
      </span>
    </label>
    <input type="text" class="form-control" id="repository" formControlName="repository" name="repository"
           [ngClass]="{'is-invalid': invalidLink}">
    <div class="invalid-feedback" *ngIf="invalidLink">Please enter a valid link</div>
  </div>

  <!-- Demo input -->
  <label for="demoFile" class="file-upload-button">Choose File</label>
  <div class="form-group">
    <input id="demoFile" type="file" class="form-control-file" formControlName="demoFile" (change)="onFileSelected($event)" style="display:none">
    <ng-container *ngIf="demoFile">
      <div>File selected:</div>
      <div class="uploaded-file">
        {{demoFile.name}} ({{demoFile.size / 1000 | number:'.2'}} KB)
        <fa-icon class="file-upload-remove" (click)="removeFile()" [ngStyle]="{'color': 'red'}" icon="times"></fa-icon>
      </div>
    </ng-container>
    <ng-container *ngIf="!demoFile">
      <div>Please select a demo video file
        <span class="tooltip-container">
          <i class="fa fa-question-circle tooltip-icon" aria-hidden="true">
            <span class="tooltip-text">Upload a demo file of your algorithm</span>
          </i>
        </span>
      </div>
    </ng-container>
  </div>

  <!-- Submit button -->
  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>
