@import "../../../shared/styles/form-styles.scss";

.form-group select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.fa-question-circle {
  margin-left: 0.5rem;
  color: #007bff;
  cursor: pointer;
}

.fa-question-circle:hover {
  color: #0056b3;
}

/* Tooltip container */
.tooltip-icon {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip-icon .tooltip-text {
  font-family: Lato, sans-serif;
  font-weight: normal;
  visibility: hidden;
  width: 120px;
  background-color: #f8f8f8;
  color: #626161;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Tooltip arrow */
.tooltip-icon .tooltip-text:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  border-top: 10px solid #f8f8f8;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-icon:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}


.invalid-link {
  border-color: red;
}

.invalid-feedback {
  color: red;
  margin-top: 0.25rem;
}

.btn-primary {
  margin-top: 1rem;
}
