<h1>Upload a new document to the system</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- Title input -->
  <label for="title">Title<span class="required">*</span></label>
  <input id="title" type="text" formControlName="title">

  <!-- Author input -->
  <label for="author">Author</label>
  <input id="author" type="text" formControlName="author">

  <!-- Publication date input -->
  <label for="publicationDate">Publication Date</label>
  <input id="publicationDate" type="date" formControlName="publicationDate">

  <!-- Description input -->
  <label for="description">Description</label>
  <textarea id="description" formControlName="description"></textarea>

  <!-- Tags input -->
  <div class="form-group tags-input">
    <label for="tags" class="col-sm-2 control-label">Tags</label>
    <div class="col-sm-10">
      <div class="tags-container">
        <input type="text" id="tags" name="tags" class="form-control" formControlName="tags"
               (keydown.enter)="addTag($event)" (blur)="addTag($event)" placeholder="Add tags...">
        <div *ngIf="showTagExists" class="speech-bubble">
          The '{{ tagToAdd }}' tag already exists!
        </div>
      </div>
      <div class="tags">
      <span *ngFor="let tag of tags" class="tag">
        {{ tag }}
        <button type="button" class="close" aria-label="Close" (click)="removeTag(tag)">
          <span aria-hidden="true">&times;</span>
        </button>
      </span>
      </div>
    </div>
  </div>

  <!-- File input -->
  <label for="fileInput" class="file-upload-button">Choose File</label>
  <input id="fileInput" name="file" type="file" formControlName="file" (change)="onImageSelected($event)" style="display:none">
  <ng-container *ngIf="fileToUpload">
    <div>File selected:</div>
    <div class="uploaded-file">
      {{fileToUpload.name}} ({{fileToUpload.size / 1000 | number:'.2'}} KB)
      <fa-icon class="file-upload-remove" (click)="removeFile()" [ngStyle]="{'color': 'red'}" [icon]="faTimes"></fa-icon>
    </div>
  </ng-container>
  <ng-container *ngIf="!fileToUpload">
    <div>Please select an image or pdf file up to 10MB<span class="required">*</span></div>
    <div>(Supported file types: png, jpg, jpeg)</div>
  </ng-container>

  <!-- Submit button -->
  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>
