<div class="title-element" fxLayoutAlign="space-between center">
  <mat-card-title>Document Dashboard</mat-card-title>

  <form [formGroup]="formGroup" class="form">
    <input  formControlName="uploadFile"  class="form-element"
            #uploadFile
            type="file"
            id="uploadFile"
            hidden
            accept="*/*"
            (change)="uploadFileService($event)"
    />

    <mat-button-toggle class="fileUpload" (click)="uploadFile.click()">
      Upload New Document </mat-button-toggle>
  </form>
</div>

<div *ngIf="dataSource; else emptyTable" class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort matTableResponsive (matSortChange)="announceSortChange($event)">
    <ng-container matColumnDef="Video_Key">
      <th *matHeaderCellDef mat-header-cell>Title</th>
      <td *matCellDef="let element" mat-cell> {{element.video_key}} </td>
    </ng-container>
    <ng-container matColumnDef="Status">
      <th  mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Status">Status</th>
      <td *matCellDef="let element" mat-cell> {{textService.toTitleCase(element.status)}} </td>
    </ng-container>
    <ng-container [matColumnDef]="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by time">Created Time</th>
      <td *matCellDef="let element" mat-cell> {{dateService.toFormattedDate(element.createdTime)}} </td>
    </ng-container>
    <ng-container matColumnDef="Step">
      <th *matHeaderCellDef mat-header-cell>Step</th>
      <td *matCellDef="let element" mat-cell> {{element.step}} </td>
    </ng-container>
    <ng-container matColumnDef="Step_Progress">
      <th *matHeaderCellDef mat-header-cell>Step Progress</th>
      <td *matCellDef="let element" mat-cell>

        <mat-progress-bar mode="determinate" value= "{{element.step_progress}}"></mat-progress-bar>

      </td>
    </ng-container>
    <ng-container matColumnDef="Description">
      <th *matHeaderCellDef mat-header-cell>Description</th>
      <td *matCellDef="let element" mat-cell> {{element.description}} </td>
    </ng-container>
    <ng-container matColumnDef="Progress">
      <th *matHeaderCellDef mat-header-cell>Progress</th>
      <td *matCellDef="let element" mat-cell> {{element.progress}} </td>
    </ng-container>
    <ng-container matColumnDef="Actions">
      <th *matHeaderCellDef mat-header-cell> Actions</th>
      <td *matCellDef="let element" class="action-link" mat-cell>
        <button (click)="clickedRow(element)" [disabled]="element.status !== 'ready' && element.status !== 'finished'"
                color="primary" mat-raised-button>Open
        </button>

        <button mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">

        </mat-menu>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight':  row.status === 'ENABLED' }"
        mat-row
    ></tr>
  </table>

  <mat-paginator  #paginator [pageSizeOptions]="[10, 20, 50]"
                  showFirstLastButtons></mat-paginator>
</div>

<ng-template #emptyTable>
  No Documents found
</ng-template>

