<!--<div class="title-element" fxLayoutAlign="space-between center">-->
<!--  <mat-card-title>Videos Dashboard</mat-card-title>-->

<!--  <form [formGroup]="formGroup" class="form">-->
<!--    <input  formControlName="uploadFile"  class="form-element"-->
<!--            #uploadFile-->
<!--            type="file"-->
<!--            id="uploadFile"-->
<!--            hidden-->
<!--            accept="*/*"-->
<!--            (change)="uploadFileService($event)"-->
<!--    />-->

<!--    <mat-button-toggle class="fileUpload" (click)="uploadFile.click()">-->
<!--      Upload New Video </mat-button-toggle>-->
<!--  </form>-->
<!--</div>-->

<!--&lt;!&ndash;<div *ngIf="dataSource; else emptyTable" class="mat-elevation-z8">&ndash;&gt;-->
<!--&lt;!&ndash;  <table mat-table [dataSource]="dataSource" matSort matTableResponsive (matSortChange)="announceSortChange($event)">&ndash;&gt;-->
<!--&lt;!&ndash;    <ng-container matColumnDef="Video_Key">&ndash;&gt;-->
<!--&lt;!&ndash;      <th *matHeaderCellDef mat-header-cell>Title</th>&ndash;&gt;-->
<!--&lt;!&ndash;      <td *matCellDef="let element" mat-cell> {{element.video_key}} </td>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;    <ng-container matColumnDef="Status">&ndash;&gt;-->
<!--&lt;!&ndash;      <th  mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Status">Status</th>&ndash;&gt;-->
<!--&lt;!&ndash;      <td *matCellDef="let element" mat-cell> {{textService.toTitleCase(element.status)}} </td>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;    <ng-container [matColumnDef]="time">&ndash;&gt;-->
<!--&lt;!&ndash;      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by time">Created Time</th>&ndash;&gt;-->
<!--&lt;!&ndash;      <td *matCellDef="let element" mat-cell> {{dateService.toFormattedDate(element.createdTime)}} </td>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;    <ng-container matColumnDef="Step">&ndash;&gt;-->
<!--&lt;!&ndash;      <th *matHeaderCellDef mat-header-cell>Step</th>&ndash;&gt;-->
<!--&lt;!&ndash;      <td *matCellDef="let element" mat-cell> {{element.step}} </td>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;    <ng-container matColumnDef="Step_Progress">&ndash;&gt;-->
<!--&lt;!&ndash;      <th *matHeaderCellDef mat-header-cell>Step Progress</th>&ndash;&gt;-->
<!--&lt;!&ndash;      <td *matCellDef="let element" mat-cell>&ndash;&gt;-->

<!--&lt;!&ndash;        <mat-progress-bar mode="determinate" value= "{{element.step_progress}}"></mat-progress-bar>&ndash;&gt;-->

<!--&lt;!&ndash;      </td>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;    <ng-container matColumnDef="Description">&ndash;&gt;-->
<!--&lt;!&ndash;      <th *matHeaderCellDef mat-header-cell>Description</th>&ndash;&gt;-->
<!--&lt;!&ndash;      <td *matCellDef="let element" mat-cell> {{element.description}} </td>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;    <ng-container matColumnDef="Progress">&ndash;&gt;-->
<!--&lt;!&ndash;      <th *matHeaderCellDef mat-header-cell>Progress</th>&ndash;&gt;-->
<!--&lt;!&ndash;      <td *matCellDef="let element" mat-cell> {{element.progress}} </td>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;    <ng-container matColumnDef="Actions">&ndash;&gt;-->
<!--&lt;!&ndash;      <th *matHeaderCellDef mat-header-cell> Actions</th>&ndash;&gt;-->
<!--&lt;!&ndash;      <td *matCellDef="let element" class="action-link" mat-cell>&ndash;&gt;-->
<!--&lt;!&ndash;        <button (click)="clickedRow(element)" [disabled]="element.status !== 'ready' && element.status !== 'finished'"&ndash;&gt;-->
<!--&lt;!&ndash;                color="primary" mat-raised-button>Open&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->

<!--&lt;!&ndash;        <button mat-icon-button [matMenuTriggerFor]="menu"&ndash;&gt;-->
<!--&lt;!&ndash;                aria-label="Example icon-button with a menu">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-icon>more_vert</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-menu #menu="matMenu">&ndash;&gt;-->

<!--&lt;!&ndash;        </mat-menu>&ndash;&gt;-->
<!--&lt;!&ndash;      </td>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;    <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>&ndash;&gt;-->
<!--&lt;!&ndash;    <tr *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight':  row.status === 'ENABLED' }"&ndash;&gt;-->
<!--&lt;!&ndash;        mat-row&ndash;&gt;-->
<!--&lt;!&ndash;    ></tr>&ndash;&gt;-->
<!--&lt;!&ndash;  </table>&ndash;&gt;-->

<!--&lt;!&ndash;  <mat-paginator  #paginator [pageSizeOptions]="[10, 20, 50]"&ndash;&gt;-->
<!--&lt;!&ndash;                  showFirstLastButtons></mat-paginator>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<ng-template #emptyTable>-->
<!--  No Videos found-->
<!--</ng-template>-->

