<div class="base-div-container">
  <div class="container">
    <div class="first-title center">
      <div class="center bottom-padding-2">
        <img src="/assets/manuscript-logo.jpg" height="500" width="1920" alt="logo-manuscript" id="manuscript">
      </div>
      <div class="bold">
        כניסה למערכת
      </div>
    </div>
    <div class="bottom-padding center">
      ברוכים הבאים
      <br>
      נא להזין את כתובת הדואר האלקטרוני שלכם ואת הסיסמא.
    </div>

    <div class="form-container">

      <form class="center" [formGroup]="formGroup">
        <div>
          <div class="center bottom-padding">
            <input class="inputs" type="text" placeholder='שם משתמש/דוא"ל' formControlName="username">
          </div>
          <div class="center bottom-padding  input-icons">
            <div class="input-icons">
                           <span class="p-viewer">
                             <i class="fa fa-eye icon" (click)="showPassword()"></i></span>
              <input class="input-field inputs" type="{{inputType}}" placeholder='סיסמא' formControlName="password">
            </div>
          </div>

          <!--          </div>-->
          <div class="center bottom-padding ">
            <input class="input-button" type="button" value="כניסה" (click)="login(formGroup.value)">
          </div>

          <div class="center  divider">

            <mat-divider></mat-divider>
          </div>



          <div class="center bottom-padding ">
            <button type="button" class="input-button-provider login-with-google-btn"  (click)="googleLoginAction()">
              כניסה עם חשבון גוגל
            </button>
          </div>
          <div class="center bottom-padding ">
            <button type="button" class="input-button-provider">
              הרשמה
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



