<div class="card text-center w-50 el-center-m mt-5 mb-5">
  <div class="card-header bg-light">
    <h2>Sign in to DHV-MED Air Quality Monitor</h2>
    <h4 class="color-light">Sign in using social networking credentials</h4>
  </div>
  <div class="card-body">
    <span class="btn primary-button" (click)="loginAction()">
    <img
      style="color: white"
      src="assets/google-icon.png"
      alt="sign in with google account"
      [width]="30"
      [height]="30"
    />
         Sign in With Google
    </span>
  </div>
</div>
