table {
  overflow: auto;
  width: 100%;
}

.title-element {
  padding-top: 1em;
  padding-bottom: 1em;
}

mat-button-toggle {
  background-color: #0747A6;
  color: #ffffff;
}

mat-button-toggle-group {
  margin: 1em;
}

button {
  margin-right: 0.5em;
}

.highlight {
  background: #d4edda;
}

mat-paginator {
  overflow: auto;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
}

