<mat-toolbar class="sidenav mat-elevation-z6 zindex2">
  <div fxFill fxLayout="row" fxLayoutAlign="space-between center">
    <!--  Side navigator toggle  -->
    <div>
      <mat-icon (click)="toggleSidenav()" class="button-pointer">menu</mat-icon>
      <span routerLink="/" class="text-pointer">Manuscript</span>
    </div>

    <!--   Display user email   -->
    <div>
      <div class="yyy-text">
        <mat-icon class="gmail-icon smaller-icon">email</mat-icon>
        <span class="email-text">{{ email }}</span>
      </div>
    </div>

  </div>
</mat-toolbar>

<mat-sidenav-container autosize>
  <!--  Side navigator  -->
  <mat-sidenav #sidenav [ngStyle]="{ 'width.em': sidenavWidth }" [opened]="sidenavStatus"
               class="sidenav"
               mode="side">

    <!--  Dashboard  -->
    <mat-nav-list>
      <mat-list-item [routerLink]="'/' + RouterEnum.Dashboard" routerLinkActive="active">
        <mat-icon class="text-white" mat-list-icon>dashboard</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <div class="menu-item" i18n>Dashboard</div>
        </div>
      </mat-list-item>
    </mat-nav-list>

    <!--  Models  -->
    <mat-nav-list>
      <mat-list-item [routerLink]="'/' + RouterEnum.Dashboard" routerLinkActive="active">
        <mat-icon class="text-white" mat-list-icon>Models</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <div class="menu-item" i18n>Models</div>
        </div>
      </mat-list-item>
    </mat-nav-list>

    <!--  Algorithm upload  -->
    <mat-nav-list *ngIf="role == 'Admin' || role == 'Developer'">
      <mat-list-item [routerLink]="'/' + RouterEnum.AlgorithmSubmissionForm" routerLinkActive="active">
        <mat-icon class="text-white">models</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <div class="menu-item" i18n>Algorithm Submission Form</div>
        </div>
      </mat-list-item>
    </mat-nav-list>

    <!--  Algorithm Requests  -->
    <mat-nav-list *ngIf="role == 'Admin' || role == 'Developer'">
      <mat-list-item [routerLink]="'/' + RouterEnum.AlgorithmRequests" routerLinkActive="active">
        <mat-icon class="text-white">supervised_user_circle</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <div class="menu-item" i18n>Algorithm Requests</div>
        </div>
      </mat-list-item>
    </mat-nav-list>

    <!--  Invitation Requests  -->
    <mat-nav-list *ngIf="role == 'Admin'">
      <mat-list-item [routerLink]="'/' + RouterEnum.InvitationRequests" routerLinkActive="active">
        <mat-icon class="text-white">supervised_user_circle</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <div class="menu-item" i18n>Invitation Requests</div>
        </div>
      </mat-list-item>
    </mat-nav-list>

    <!--  Logout  -->
    <mat-nav-list>
      <mat-list-item (click)="signOut()" routerLinkActive="active">
        <mat-icon class="material-icons text-white" mat-list-icon>logout</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <div class="menu-item" i18n>Logout</div>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content class="sidenav-content">
    <router-outlet class="full-width"></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
