<mat-toolbar class="sidenav mat-elevation-z6 zindex2">
  <div fxFill fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <mat-icon (click)="toggleSidenav()" class="button-pointer">menu</mat-icon>
      <span routerLink="/" class="text-pointer">Manuscript </span>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container autosize>
  <mat-sidenav #sidenav [ngStyle]="{ 'width.em': sidenavWidth }" [opened]="sidenavStatus"
               class="sidenav"
               mode="side">
    <mat-nav-list>
      <mat-list-item  [routerLink]="'/Dashboard'" routerLinkActive="active">
        <mat-icon  class="text-white" mat-list-icon>dashboard</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <div class="menu-item">Dashboard</div>
        </div>
      </mat-list-item>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item  [routerLink]="'/Dashboard'" routerLinkActive="active">
        <mat-icon  class="text-white" mat-list-icon>Models</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <div class="menu-item">Models</div>
        </div>
      </mat-list-item>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item  (click)="signout()" routerLinkActive="active">
        <mat-icon  class="material-icons text-white" mat-list-icon>logout</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <div class="menu-item">Logout</div>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">

    <router-outlet class="full-width"></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
