

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  height: 100%;
}

.grid-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
}

.item1 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}


/* Add these styles */
.add-image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: #aaa;
  cursor: pointer;
}

.item1 img {
  max-width: 100%;
  height: auto;
}
