<div class="grid-container">
  <div class="grid-item item1">

    <app-document-details [documentId]="documentId" [uid]="uid"></app-document-details>
  </div>


  <div class="grid-item item2">
    <app-document-details [documentId]="documentId" [uid]="uid"></app-document-details>

  </div>

  <div class="grid-item item3">

    <app-document-details [documentId]="documentId" [uid]="uid"></app-document-details>

  </div>

  <div class="grid-item item4">
    <app-document-details [documentId]="documentId" [uid]="uid"></app-document-details>


  </div>
</div>
