

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  height: 100%;
}

.grid-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
}

.item1 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}


/* Add these styles */
.add-image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: #aaa;
  cursor: pointer;
}

.item1 img {
  max-width: 100%;
  height: auto;
}

.item2 img {
  max-width: 100%;
  height: auto;
}

.no-bullet {
  list-style-type: none;
}

.doc-list {
  list-style-type: none;
  padding: 0;
}

.doc-list-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.doc-list-item:last-child {
  border-bottom: none;
}

.doc-list-item:hover {
  background-color: #f5f5f5;
  color: #333;
}

.mat-menu-panel .menu li {
  cursor: pointer;
}

.plus-icon {
  font-size: 30px; /* Adjust the size as desired */
}


.add-button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 15px;
}








