<div class="title-element" fxLayoutAlign="center start">
  <mat-card-title>Algorithm Requests</mat-card-title>
</div>

<div>
  <div class="modal-content">
    <div class="modal-body">
      <table [dataSource]="dataSource" class="mat-elevation-z8 col-12" mat-table matSort>
        <!-- Loading circle icon column -->
        <ng-container matColumnDef="loading">
          <th class="text-center" mat-header-cell *matHeaderCellDef style="width: 40px;"></th>
          <td mat-cell *matCellDef="let algorithmRequest">
            <div *ngIf="algorithmRequest.isLoading" class="loading-circle"></div>
          </td>
        </ng-container>

        <!--  Email column  -->
        <ng-container matColumnDef="email">
          <th class="font-weight-bold text-dark normal-text" mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 18px; color: black;">
            Email
          </th>
          <td mat-cell *matCellDef="let algorithmRequest"> {{algorithmRequest.email}} </td>
        </ng-container>

        <!--  Title column  -->
        <ng-container matColumnDef="title">
          <th class="font-weight-bold text-dark normal-text" mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 18px; color: black;">
            Title
          </th>
          <td mat-cell *matCellDef="let algorithmRequest"> {{algorithmRequest.title}} </td>
        </ng-container>

        <!--  Description column  -->
        <ng-container matColumnDef="description">
          <th class="font-weight-bold text-dark normal-text" mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 18px; color: black;">
            Description
          </th>
          <td mat-cell *matCellDef="let algorithmRequest"> {{algorithmRequest.description}} </td>
        </ng-container>

        <!--  Model Type column  -->
        <ng-container matColumnDef="modelType">
          <th class="font-weight-bold text-dark normal-text" mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 18px; color: black;">
            Model Type
          </th>
          <td mat-cell *matCellDef="let algorithmRequest"> {{algorithmRequest.modelType}} </td>
        </ng-container>

        <!--  Repository column  -->
        <ng-container matColumnDef="repository">
          <th class="font-weight-bold text-dark normal-text" mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 18px; color: black;">
            Repository
          </th>
          <td mat-cell *matCellDef="let algorithmRequest"> {{algorithmRequest.repository}} </td>
        </ng-container>

        <!--  Status column  -->
        <ng-container matColumnDef="status">
          <th class="font-weight-bold text-dark normal-text" mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 18px; color: black;">
            Status
          </th>
          <td mat-cell *matCellDef="let algorithmRequest"> {{algorithmRequest.status}} </td>
        </ng-container>

        <!-- Button column -->
        <ng-container matColumnDef="edit">
          <th class="font-weight-bold text-dark normal-text" mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let algorithmRequest">
            <button mat-raised-button color="primary" *ngIf="algorithmRequest.status === 'Declined' || algorithmRequest.status === 'Pending' && role == 'Admin'"
                    (click)="approveRequest(algorithmRequest)">Approve
            </button>
            <button mat-raised-button color="primary" *ngIf="algorithmRequest.status === 'Approved' && role == 'Admin'"
                    (click)="approveRequest(algorithmRequest)">Cloud Staging
            </button>
            <button mat-raised-button color="primary" *ngIf="algorithmRequest.status === 'CloudStaging' && role == 'Admin'"
                    (click)="approveRequest(algorithmRequest)">Trial
            </button>
            <button mat-raised-button color="primary" *ngIf="algorithmRequest.status === 'Trial' && role == 'Admin'"
                    (click)="approveRequest(algorithmRequest)">Production
            </button>
            <button mat-raised-button color="primary" *ngIf="algorithmRequest.status === 'Inactive'"
                    (click)="approveRequest(algorithmRequest)">Production
            </button>
            <button mat-raised-button class="alert" *ngIf="algorithmRequest.status === 'Production'"
                    (click)="disableAlgorithm(algorithmRequest)">Disable
            </button>
            <button mat-raised-button color="warn" *ngIf="algorithmRequest.status !== 'Declined' && role == 'Admin'"
                    (click)="declineRequest(algorithmRequest)">Decline
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="tableCols; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: tableCols;" [ngClass]="{'highlight': row.status === 'Approved'}" mat-row></tr>
      </table>

      <!--  Item display count row  -->
      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

    </div>
  </div>
</div>
