<h2 mat-dialog-title>Share this document with other users.</h2>
<p>Enter an email address.</p>
<mat-dialog-content>
  <mat-form-field class="custom-input">
    <input matInput placeholder="Email" cdkFocusInitial [formControl]="emailFormControl" email>
    <mat-error *ngIf="emailFormControl.hasError('duplicate')">Email already exists.</mat-error>
    <mat-error *ngIf="emailFormControl.hasError('email') && emailFormControl.dirty">
      Please enter a valid email address.
    </mat-error>
  </mat-form-field>
  <button mat-icon-button color="primary" (click)="addEmail()" [disabled]="emailFormControl.invalid">
    <mat-icon>add</mat-icon>
  </button>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="userEmails" [disabled]="!userEmails.length">
    Submit
  </button>
  <button mat-button (click)="cancelDialog()">Cancel</button>
</mat-dialog-actions>

<div *ngFor="let email of userEmails">
  {{ email }}
  <button mat-icon-button color="warn" (click)="removeEmail(email)">
    <mat-icon>close</mat-icon>
  </button>
</div>
