<div class="base-div-container">
  <div class="container">
    <div class="first-title center">

      <div class="bold">
        יצירת חשבון למערכת מאנוסריפט
      </div>
    </div>
    <div class="bottom-padding center">
      ברוכים הבאים
      <br>
      נא ליצור חשבון.
    </div>

    <div class="form-container">

      <form class="center" [formGroup]="formGroup">
        <div>
          <div class="center bottom-padding">
            <input class="inputs" type="text" placeholder='שם' formControlName="name">
          </div>
          <div class="center bottom-padding">
            <input class="inputs" type="text" placeholder='דוא"ל' formControlName="email">
          </div>
          <div class="center bottom-padding  input-icons">
            <div class="input-icons">
                           <span class="p-viewer">
                             <i class="fa fa-eye icon" (click)="showPassword()"></i></span>
              <input class="input-field inputs" type="{{inputType}}" placeholder='סיסמא' formControlName="password">
            </div>
          </div>
          <div class="center bottom-padding">
            <input class="inputs" type="text" placeholder='טלפון' formControlName="phoneNumber">
          </div>
          <div class="center bottom-padding">
            <select class="inputs" name="role" formControlName="role">
              <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
            </select></div>

          <div class="center bottom-padding ">
            <input class="input-button" type="button" value="יצר" (click)="register(formGroup.value)">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



