<div class="base-div-container">
  <div class="container">
    <div class="first-title center">
      <div class="bold" i18n>
        Create an account for the Manuscript system
      </div>
    </div>
    <div class="bottom-padding center" i18n>
      Start using Manuscripts to catalog your work and collaborate on it with your colleagues
    </div>

    <div class="form-container">
      <form class="center" [formGroup]="formGroup">
        <!--   Full Name input   -->
        <div>
          <div class="center bottom-padding">
            <input class="inputs" type="text" i18n placeholder='Full Name' formControlName="name">
          </div>

          <!--   E-mail input   -->
          <div class="center bottom-padding">
            <input class="inputs" type="text" i18n placeholder='E-mail Address' formControlName="email">
          </div>

          <!--   Password input   -->
          <div class="center bottom-padding  input-icons">
            <div class="input-icons">
               <span class="p-viewer" (click)="showPassword()">
                 <i [class]="hidePassword ? 'fa fa-eye-slash icon' : 'fa fa-eye icon'"></i>
               </span>
              <input class="input-field inputs" type="{{inputType}}" i18n placeholder='Password' formControlName="password">
            </div>
          </div>

          <!--   Phone Number input   -->
          <div class="center bottom-padding">
            <input class="inputs" type="text" i18n placeholder='Phone Number' formControlName="phoneNumber">
          </div>

          <!--   Role select   -->
          <div class="center bottom-padding">
            <select class="inputs select-input" name="role" formControlName="role" id="role" required>
              <option value="" hidden>Select Role</option>
              <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
            </select>
          </div>

          <!--   Create account button   -->
          <div class="center bottom-padding ">
            <input class="input-button" type="button" i18n value="Create Account" (click)="register(formGroup.value)">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
