/*Check the font family*/
.first-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 1em;
  font: normal normal 600 30px/26px Rubik;
}

.second-title {
  font-size: 1.2em;
}

img {
  padding-bottom: 4em;
}

html {
  background-color: #F5F6FA !important;
}

.bottom-padding {
  font-family: Rubik;
  padding-bottom: 1em;
}

.center {
  text-align: center;
  direction: rtl;
}

.inputs {
  border: 2px;
  /*border-radius: 25px;*/
  background-color: white;
  width: 18em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  font-family: Rubik;
  font-size: 1.2em;
  padding: 10px;
  text-align: center;
}

.input-button {
  height: 2.5rem;
  border: 2px;
  padding-top: 0.5em;
  border-radius: 25px;
  background-color: burlywood;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: white;
  width: 18em;
  padding-bottom: 0.5em;
  margin-top: 0.5em;
  font-size: 1.2em;
}

.input-button:hover {
  background-color: #d2af6a; /* Change to the desired background color */
  color: #ffffff; /* Change to the desired text color */
}

.input-button:active {
  background-color: #c7a767; /* Change to the desired background color */
  color: #ffffff; /* Change to the desired text color */
}

.divider {
  width: 18em;
  display: inline-block;
  padding-bottom: 1em;
  padding-top: 1em;
}

.mat-divider {
  border-top-color: black;
}

.input-button-provider {
  height: 2.5rem;
  border: 2px;
  padding-top: 0.5em;
  border-radius: 25px;
  background-color: #ffffff;
  color: #000000;
  width: 18em;
  padding-bottom: 0.5em;
  margin-top: 0.5em;
  font-size: 1.2em;
}

.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: 0.7rem 0.7rem;
}

.login-with-microsoft-btn {
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAV1BMVEX0Qzb6PzVGs1FMr1D6PzVGs1H8QC/8QC//PC0+s1RFrlNFrlMZmfoZmfoQmP//wwD/wgT/wgQYlPz/wwAYlPz/wwAhlvP/wQf0QzZMr1AhlvP/wQf///8tQX6kAAAAGHRSTlP1bW31bm5tbi8vbm1tbi8vbm1ubm1t9fXDRvKOAAAAAWJLR0QcnARBBwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB+YMDwkJHSxPQ3cAAABCSURBVBjTY2CQgABGJkkIYIaJIIQk6SXEwgoXYoMAdg5OLm4IYOCBAF4+fgFBCGCQggIhYWkogAuJiNJLSAxdSBwA+PEcSzp2T/kAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjItMTItMTVUMDk6MDk6MDkrMDA6MDAg+OBhAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIyLTEyLTE1VDA5OjA5OjA5KzAwOjAwUaVY3QAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-position: 0.7rem 0.7rem;
}

.login-with-microsoft-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.base-div-container {
  background-color: #F5F6FA;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 19.5em;
  padding-top: 10em;
}

.bold {
  font-size: 1.2em;
}

.input-field {
  padding: 10px;
  text-align: center;
}

h1 {
  background: #41C2CB;
  padding: 0 0 0 50px;
  color: white;
  font-size: 20px;
}

.hide {
  display: none;
}

.input-icons i {
  position: absolute;
  color: #4a93d1;
}

.icon {
  padding: 13px;
  font-size: 15px;
}

.input-button {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
}

.input-button,
.select-input,
.fa-eye,
.fa-eye-slash {
  cursor: pointer;
}
